/* ==========================================================================
   Base
   ========================================================================== */

/* Media queries
   ========================================================================== */

$static-query: desk !default;

@mixin media-query($type) {
   @each $breakpoint in $breakpoints {
      $name: nth($breakpoint, 1);
      $declaration: nth($breakpoint, 2);
      @if $type == $name and $declaration {
         @if $static-query and $type == $static-query {
            @content;
         } @else {
            @media only screen and #{$declaration} {
               @content;
            }
         }
      }
   }
}

/**
 * Expose media query breakpoints to JavaScript.
 * Use: window.getComputedStyle(document.body, ':after').getPropertyValue('content');
 */
body {
   &:after {
      display: none;
   }

   @each $breakpoint in $breakpoints {
      $type: nth($breakpoint, 1);
      @include media-query($type) {
         &:after {
            content: $type;
         }
      }
   }
}


/* Helpers
   ========================================================================== */

@function brand($color) {
   @return map-get($colors, $color);
}

@function trim($string) {
   @while str-index($string, ' ') == 1 {
      $string: str-slice($string, 2);
   }
   @while str-slice($string, str-length($string)) == ' ' {
      $string: str-slice($string, 0, str-length($string) - 1);
   }

   @return $string;
}

@mixin size($width, $height: null) {
   width: $width;
   @if $height == null  {
      height: $width;
   } @else {
      height: $height;
   }
}

@mixin active {
   &:hover,
   &:focus,
   &:active {
      @content;
   }
}

@mixin ie-overlay {
   background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
   background-image: none, none;
}

@mixin center {
   margin-left: auto;
   margin-right: auto;
}

@mixin no-flex {
   .no-flexbox.no-flexboxlegacy & {
      @content;
   }
}

@function scale-to-percentage($item-interval, $configuration, $gap: $gutter) {
   $total: 0;
   @each $interval in $configuration {
      $total: $total + macro-scale($interval);
   }
   @return (macro-scale($item-interval) / $total) * 100% - ($gap * (length($configuration) - 1) / length($configuration));
}

@function faux-rgba($color, $background, $opacity) {
  @return mix($color, $background, $opacity * 100%);
}

@function rem-to-px($value) {
   @return round($base * 16px * $value / ($value * 0 + 1));
}


/* Clearfix
   ========================================================================== */

%clear:after {
   content: '';
   display: table;
   clear: both;
}


// .test {
//    background: silver;

//    &[max-width="500px"] {
//       background: yellow;
//    }

//    &[max-width="700px"] {
//       background: red;
//    }

//    &[max-width="300px"][min-width="100px"] {
//       background: red;
//    }
// }