/* ==========================================================================
   Forms
   ========================================================================== */

input,
textarea,
select {
   @include aloof;
   display: block;
   width: 100%;
   height: lines(1);
   padding: 0 1em;
   box-sizing: border-box;

   &.error {}

   &:focus {}
}

input[type="checkbox"],
input[type="radio"] {
   width: lines(1);
   padding: 0;
}

textarea {
   height: auto;
}


/* Cells
   ========================================================================== */

.input-cell {
   @include aloof;

   &--text {

      > label {}

      > input {
         margin-bottom: 0;
      }
   }

   &--click {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;

      > label {
         flex: 1;
         margin-left: .5em;
         cursor: pointer;
      }

      > input {
         margin-bottom: 0;
         cursor: pointer;
         background: blue;

         &:checked {
            background: red;
         }
      }

      @include no-flex {
         position: relative;

         > input {
            position: absolute;
            top: 0;
            left: 0;
         }

         > label {
            display: block;
            margin-left: calc(#{lines(1)} + .5em);
         }
      }
   }
}