/* ==========================================================================
   Icons
   ========================================================================== */

/* Variables
   ========================================================================== */

$icon-gap: .5em;
$icon-size: $line-height * 1em;


/* Mixins
   ========================================================================== */

@mixin icon-size($new-size) {
   .icon, .j-icon-placeholder {
      @include size($new-size);
   }

   .no-svg & .icon:first-child {
      margin-right: -($new-size);
   }
}


/* Classes
   ========================================================================== */

.icon,
.j-icon-placeholder {
   @include size($icon-size);
   display: inline-block;
   margin-top: 0;
   vertical-align: top;
}

.icon {
   fill: currentColor;
   transition: fill .2s linear;

   &:first-child {
      margin-right: $icon-gap;
   }

   &:last-child {
      margin-left: $icon-gap;
   }

   &:first-child:last-child {
      display: block;
      margin: 0;
   }

   .no-svg & {
      margin-left: $icon-gap;

      &:first-child {
         margin-left: 0;
         margin-right: -($icon-size);

         ~ span {
            margin-left: $icon-gap;
         }
      }
   }
}