/* ==========================================================================
   Layout
   ========================================================================== */

body {
   background: white;
}

.layout-wrapper {
   margin: 0 auto;
   max-width: $layout-width;

   @include media-query(portable) {
      padding: 0 taper(1);
   }
}


/* Header
   ========================================================================== */

.page-header {
   @include aloof;
}


/* Main content
   ========================================================================== */

.main-content {
   @include aloof;
}


/* Footer
   ========================================================================== */

.page-footer {

}