/* ==========================================================================
   Layout
   ========================================================================== */

body {
   background: white;
}

.layout-wrapper {
   @include center;
   max-width: $layout-width;
   box-sizing: border-box;
   padding: 0 taper(1);

   @include media-query(palm) {
      padding: 0 taper(2);
   }
}


/* Header
   ========================================================================== */

.page-header {
   @include island(2);
}


/* Main content
   ========================================================================== */

.main-content {
   @include island(2);
}


/* Footer
   ========================================================================== */

.page-footer {
   @include island(2);
}