/* ==========================================================================
   Normalize
   based on git.io/normalize
   ========================================================================== */

/* HTML5 display definitions
   ========================================================================== */

/**
 * Reset default margin and padding to zero.
 */
*, :after, :before {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
}

/**
 * Correct 'block' display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
   display: block;
}

/**
 * Correct 'inline-block' display not defined in IE 8/9.
 */
audio,
canvas,
video {
   display: inline-block;
}

/**
 * Prevent modern browsers from displaying 'audio' without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
   display: none;
   height: 0;
}

/**
 * Hide the 'template' element in IE, Safari, and Firefox < 22.
 */
template {
   display: none;
}

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 */
html {
   font-family: sans-serif; /* 1 */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Reset list styles.
 */
ul {
   list-style-type: none;
}

ol {
   list-style-position: inside;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
   overflow: hidden;
}

/* Links
   ========================================================================== */

/**
 *  Remove the gray background color from active links in IE 10.
 */
a,
label,
[tabindex] {
   background: transparent;
   -webkit-tap-highlight-color: transparent;
}


/* Typography
   ========================================================================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr {
   border-bottom: 1px dotted;
}

/**
 * Reset default font weight.
 */
b,
strong,
th {
   font-weight: 700;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
   box-sizing: content-box;
   height: 0;
}

/**
 * Reset default mark styling.
 */
mark {
   background: none;
   color: inherit;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
   font-family: monospace, serif;
   font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
   white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
   quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
   font-size: 80%;
}

/**
 * Prevent 'sub' and 'sup' affecting 'line-height' in all browsers.
 */
sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   top: -0.5em;
}

sub {
   bottom: -0.25em;
}

/**
 * Reset default font style.
 */
address,
em,
dfn,
i {
   font-style: normal;
}

/* Forms
   ========================================================================== */

input,
select,
label,
textarea {
   display: block;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 */
button,
input,
select,
textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 2 */
   outline: 0;
}

/**
 * Address Firefox 4+ setting 'line-height' on 'input' using '!important' in the UA stylesheet.
 */
button,
input {
   line-height: normal;
}

/**
 * Address inconsistent 'text-transform' inheritance for 'button' and 'select'.
 * All other form control elements do not inherit 'text-transform' values.
 * Correct 'button' style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct 'select' style inheritance in Firefox 4+ and Opera.
 */
button,
select {
   text-transform: none;
}

/**
 * Remove inner shadow in Safari.
 */
input,
textarea {
   -webkit-appearance: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native 'audio' and 'video' controls.
 * 2. Correct inability to style clickable 'input' types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type 'input' and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
   cursor: default;
}

/**
 * Address 'appearance' set to 'searchfield' in Safari 5 and Chrome.
 */
input[type="search"] {
   -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}

/**
 * Remove cancel button in IE 10/11.
 */
input::-ms-clear {
   display: none;
}

/**
 * Remove spinners for number input.
 */
input[type="number"] {
   -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/**
 * Remove default appearance from select.
 */
select {
   -webkit-appearance: none;
   appearance: none;

   &::-ms-expand {
      display: none;
   }

   &::-ms-value {
      background: transparent;
      color: inherit;
   }

   &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 black;
   }
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Images
   ========================================================================== */

img {
   display: block;
   max-width: 100%;
}