/* ==========================================================================
   Typography
   ========================================================================== */

/* Mixins
   ========================================================================== */

@function lines($count: 1, $correction: null) {
   @if $count == 0 {
      @return 0;
   } @else if $correction == null  {
      @return $count * $line-height * 1rem;
   } @else {
      @return calc(#{$count * $line-height * 1rem} + #{$correction});
   }
}

@function taper($count: 1, $correction: null) {
   @if $count == 0 {
      @return 0;
   } @else if $correction == null  {
      @return $count * $gutter;
   } @else {
      @return calc(#{$count * $gutter} + #{$correction});
   }
}

@mixin not-flow {
   > * {
      margin-top: 0;
   }
}

@mixin flow-gap($count) {
   > * + * {
      margin-top: lines($count);
   }
}

@mixin spread($amount) {
   > * {
      margin-left: $amount;

      &:first-child {
         margin-left: 0;
      }
   }
}

@mixin island($leading: 1, $trailing: $leading) {
   * + & {
      margin-top: lines($leading);
   }

   &:not(:last-child) {
      margin-bottom: lines($trailing);
   }

   @media only screen and (max-height: #{lines(20)}) {
      * + & {
         margin-top: lines($leading / 2);
      }

      &:not(:last-child) {
         margin-bottom: lines($trailing / 2);
      }
   }
}


/* Base
   ========================================================================== */

html {
   font-size: #{$base}em;
   line-height: $line-height;
   font-family: 'Open Sans', sans-serif;
   color: rgba(black, .9);
   font-feature-settings: 'liga', 'kern';

   @include media-query(palm) {
      font-feature-settings: 'liga' 0, 'kern' 0;
   }
}

a {
   transition: color .2s;

   &:focus > img {
      outline: 3px solid cyan;
   }

   p & {
      text-decoration: none;
      background: linear-gradient(cyan, cyan) no-repeat;
      background-size: 100% 1px;
      background-position: 0 91%;
      text-shadow: 1px 0 white,
                   -1px 0 white,
                   0.5px 0 white,
                   -0.5px 0 white;
      color: cyan;
      transition: color .2s, background-image .2s;

      &:focus,
      &:hover {
         color: red;
         background-image: linear-gradient(red, red);
      }
   }
}

small {
   font-size: micro-scale(-4) * 1em;
}

* + * {
   margin-top: lines(1);

   @media only screen and (max-height: #{lines(20)}) {
      margin-top: lines(.5);
   }
}


/* Headings
   ========================================================================== */

.heading, %heading {
   @include icon-size(micro-scale(4) * 1em);

   line-height: micro-scale(4);
   font-feature-settings: 'liga', 'kern', 'swsh', 'calt';
   font-weight: 400;
   font-size: 1rem;

   * + & {
      margin-top: lines(2);
   }
}

.alpha, %alpha {
   font-size: micro-scale(17) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(15) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(12) * 1rem;
   }
}

.beta, %beta {
   font-size: micro-scale(12) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(10) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(7) * 1rem;
   }
}

.gamma, %gamma {
   font-size: micro-scale(8) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(6) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(4) * 1rem;
   }
}

.delta, %delta {
   font-size: micro-scale(5) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(3) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(2) * 1rem;
   }
}

.epsilon, %epsilon {
   font-size: micro-scale(3) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(2) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(1) * 1rem;
   }
}


/* Lists
   ========================================================================== */

ul, ol {
   @include flow-gap(0);

   > li {
      display: block;
   }
}

.bullet-list, %bullet-list {
   @include flow-gap(.5);
   $taper: micro-scale(4) * 1em;

   > li {
      @extend %bullet;

      padding-left: $taper;

      &:before {
         margin-left: -$taper;
      }
   }
}

.numbered-list, %numbered-list {
   $taper: micro-scale(5) * 1em;

   counter-reset: numbered-list;

   > li {
      counter-increment: numbered-list;
      padding-left: $taper;

      &:before {
         content: counter(numbered-list) '.';
         float: left;
         width: $taper;
         margin-left: -$taper;
      }
   }
}

.inline-list, %inline-list {
   @include not-flow;
   @include spread(1em);

   font-size: 0;

   > li {
      display: inline-block;
      font-size: 1rem;
      vertical-align: middle;
   }

   @include media-query(palm) {
      @include spread(0);
      @include flow-gap(.5);

      > li {
         display: block;
      }
   }
}

.pipe-list, %pipe-list {
   @extend %inline-list;

   > li {
      margin-left: 0;

      &:before {
         content: ' | ';
      }

      &:first-child:before {
         display: none;
      }
   }
}


/* Editable content
   ========================================================================== */

.content {
   > h2, > h3, > h4 {
      @extend %heading;
   }

   > h2 {
      @extend %gamma;
   }

   > h3 {
      @extend %delta;
   }

   > h4 {
      @extend %epsilon;
   }

   > img {
      @include island(2);
      @include center;
   }

   > ul:not([class]) {
      @extend %bullet-list;
   }

   > ol {
      @extend %numbered-list;
   }
}