/* ==========================================================================
   Typography
   ========================================================================== */

/* Mixins
   ========================================================================== */

%trim-trailing-lines {
   &:last-child {
      margin-bottom: 0;
   }
}

%trim-leading-lines {
   &:first-child {
      margin-top: 0;
   }
}

@function lines($count: 1, $correction: null) {
   @if $count == 0 {
      @return 0;
   } @else if $correction == null  {
      @return $count * $line-height * 1rem;
   } @else {
      @return calc(#{$count * $line-height * 1rem} + #{$correction});
   }
}

@function taper($count: 1, $correction: null) {
   @if $count == 0 {
      @return 0;
   } @else if $correction == null  {
      @return $count * $gutter;
   } @else {
      @return calc(#{$count * $gutter} + #{$correction});
   }
}

@mixin not-flow {
   > * {
      margin-top: 0;
   }
}

@mixin flow-gap($count) {
   > * + * {
      margin-top: lines($count);
   }

   @include media-query(palm) {
      > * + * {
         margin-top: lines($count / 2);
      }
   }
}

@mixin spread($amount) {
   > * {
      margin-left: $amount;

      &:first-child {
         margin-left: 0;
      }
   }
}

@mixin island($count: 1) {
   @extend %trim-leading-lines;
   @extend %trim-trailing-lines;
   margin-top: lines($count);
   margin-bottom: lines($count);

   @include media-query(palm) {
      margin-top: lines($count / 2);
      margin-bottom: lines($count / 2);
   }
}


/* Base
   ========================================================================== */

html {
   font-size: #{$base}em;
   line-height: $line-height;
   font-family: 'Open Sans', sans-serif;
   color: black;
   font-feature-settings: 'liga', 'kern';

   @include media-query(palm) {
      font-feature-settings: 'liga' 0, 'kern' 0;
   }
}

a {
   text-decoration: underline;
   transition: color .25s;

   @include active {

   }
}

* + * {
   margin-top: lines(1);

   @include media-query(palm) {
      margin-top: lines(.5);
   }
}


/* Headings
   ========================================================================== */

.heading, %heading {
   @include icon-size(micro-scale(4) * 1em);

   line-height: micro-scale(4);
   font-feature-settings: 'liga', 'kern', 'swsh', 'calt';
   font-weight: 400;
   font-size: 1rem;

   * + & {
      margin-top: lines(2);

      @include media-query(palm) {
         margin-top: lines(1);
      }
   }
}

.alpha, %alpha {
   font-size: micro-scale(17) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(15) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(12) * 1rem;
   }
}

.beta, %beta {
   font-size: micro-scale(12) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(10) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(7) * 1rem;
   }
}

.gamma, %gamma {
   font-size: micro-scale(8) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(6) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(4) * 1rem;
   }
}

.delta, %delta {
   font-size: micro-scale(5) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(3) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(2) * 1rem;
   }
}

.epsilon, %epsilon {
   font-size: micro-scale(3) * 1rem;

   @include media-query(lap) {
      font-size: micro-scale(2) * 1rem;
   }

   @include media-query(palm) {
      font-size: micro-scale(1) * 1rem;
   }
}


/* Lists
   ========================================================================== */

ul, ol {
   @include flow-gap(0);

   > li {
      display: block;
   }
}

.bullet-list, %bullet-list {
   @include flow-gap(.5);
   $taper: micro-scale(4) * 1em;

   > li {
      @extend %bullet;

      &:before {
         margin-left: -$taper;
      }
   }

   @include media-query(portable) {
      padding-left: $taper;
   }
}

.numbered-list, %numbered-list {
   $taper: micro-scale(5) * 1em;

   counter-reset: numbered-list;

   > li {
      counter-increment: numbered-list;
      padding-left: $taper;

      &:before {
         content: counter(numbered-list) '.';
         float: left;
         width: $taper;
         margin-left: -$taper;
      }
   }
}

.inline-list, %inline-list {
   @include not-flow;
   @include spread(1em);

   font-size: 0;

   > li {
      display: inline-block;
      font-size: 1rem;
      vertical-align: middle;
   }
}

.pipe-list, %pipe-list {
   @extend %inline-list;

   > li {
      margin-left: 0;

      &:before {
         content: ' | ';
      }

      &:first-child:before {
         display: none;
      }
   }
}


/* Editable content
   ========================================================================== */

.content {
   > h2, > h3, > h4 {
      @extend %heading;
   }

   > h2 {
      @extend %gamma;
   }

   > h3 {
      @extend %delta;
   }

   > h4 {
      @extend %epsilon;
   }

   > img {
      @include island(2);
      @include center;
   }

   > ul {
      @extend %bullet-list;
   }

   > ol {
      @extend %numbered-list;
   }
}