/* ==========================================================================
   Variables
   ========================================================================== */

/* Typography
   ========================================================================== */

$base: 1;
$line-height: scale(7);
$line-length: 37em;


/* Layout
   ========================================================================== */

$gutter: macro-scale(-8) * 100%;
$layout-width: $line-length + ($line-length * macro-scale(-1));


/* Breakpoints
   ========================================================================== */

$breakpoints: (
   'portable' '(max-width: #{$layout-width * $base - .001})',
   'palm' '(max-width: #{$line-length * $base * .75 - .001})',
   'lap' '(min-width: #{$line-length * $base * .75}) and (max-width: #{$layout-width * $base - .001})',
   'desk' '(min-width: #{$layout-width * $base})'
);


/* Colors
   ========================================================================== */

$colors: (

);