/* ==========================================================================
   Non-critical
   ========================================================================== */

/* Imports
   ========================================================================== */

@import "base/normalize";
@import "base/functions";
@import "base/config";
@import "base/helpers";
@import "base/media-queries";


/* ==========================================================================
   Fonts
   ========================================================================== */

/* Methods
   ========================================================================== */

@mixin define-font($name, $file, $weight: null) {
    @font-face {
        font-family: $name;
        src: base64('../public/assets/site/font/' + $file + '.woff') format('woff');
        @if $weight not null {
            font-weight: $weight;
        }
    }
}


/* Definitions
   ========================================================================== */


/* ==========================================================================
   Images
   ========================================================================== */

/* Methods
   ========================================================================== */

@function asset($file) {
    @return url(#{'assets/site/img/' + $file});
}


/* Definitions
   ========================================================================== */
