/* ==========================================================================
   Fonts
   ========================================================================== */

/* Settings
   ========================================================================== */

$FONTS_PATH: 'assets/site/font/';


/* Helpers
   ========================================================================== */

@mixin define-font($name, $file, $weight: null) {
    $path: $FONTS_PATH + $file;

    @font-face {
        font-family: $name;
        src: base64('../public/' + $path + '.woff') format('woff');
        @if $weight not null {
            font-weight: $weight;
        }
    }

}


/* Fonts
   ========================================================================== */

//@include define-font('', '');