/* ==========================================================================
   Fonts
   ========================================================================== */

/* Settings
   ========================================================================== */

$FONTS_PATH: 'assets/site/font/';


/* Helpers
   ========================================================================== */

@mixin define-font($name, $file) {
   $path: $FONTS_PATH + $file;

   @font-face {
      font-family: $name;
      src: url($path + '.eot?#ie8hack') format('ie9hack');
   }

   @font-face {
      font-family: $name;
      src: base64('../public/' + $path + '.woff') format('woff'),
           url($path + '.ttf') format('truetype');;
   }

}


/* Fonts
   ========================================================================== */

@include define-font('Azo Sans', 'azosans');
@include define-font('Playfair Display', 'playfairdisplay');