/* ==========================================================================
   Non-critical
   ========================================================================== */

/* Imports
   ========================================================================== */

@import "base/math";
@import "base/scale";
@import "base/config";
@import "base/helpers";
@import "base/colors";
@import "base/media-queries";


/* ==========================================================================
   Fonts
   ========================================================================== */

/* Settings
   ========================================================================== */

$FONTS_PATH: 'assets/site/font/';


/* Methods
   ========================================================================== */

@mixin define-font($name, $file, $weight: null) {
    $path: $FONTS_PATH + $file;

    @font-face {
        font-family: $name;
        src: base64('../public/' + $path + '.woff') format('woff');
        @if $weight not null {
            font-weight: $weight;
        }
    }

}


/* ==========================================================================
   Images
   ========================================================================== */

/* Methods
   ========================================================================== */

@function asset($file) {
    @return url(#{'assets/site/img/' + $file});
}
