/* ==========================================================================
   Button
   ========================================================================== */

.e-button {
    background: color(highlight);
    box-shadow: 0 1px 0 0 rgba(black, .5);
    color: color(background);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
    min-width: 10em;
    padding: const(LINE_HEIGHT) 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateY(-1px);
    transition: background-color .3s;

    &:hover,
    &:focus {
        background: tint(color(highlight), .2);
        color: color(background);
    }

    &:active,
    &[aria-pressed="true"] {
        transform: none;
        box-shadow: none;
    }
}