/* ==========================================================================
   Icons
   ========================================================================== */

.e-icon {
    @include size(1em);

    display: inline-block;
    margin-top: 0;
    fill: currentcolor;
    vertical-align: -.175em;

    &--large {
        @include size(const(LINE_HEIGHT) * 1em);
    }
}