/* ==========================================================================
   Alignment
   ========================================================================== */

.u-align-center {
    text-align: center !important;
}

.u-align-left {
    text-align: left !important;
}

.u-align-right {
    text-align: right !important;
}

.u-center {
    margin-left: auto !important;
    margin-right: auto !important;
}