/* ==========================================================================
   Sizes
   ========================================================================== */

.u-alpha,
%u-alpha {
    font-size: 3rem !important;

    @include media('<line') {
        font-size: 2rem !important;
    }
}

.u-beta,
%u-beta {
    font-size: 2rem !important;

    @include media('<line') {
        font-size: 1.5rem !important;
    }
}

.u-gamma,
%u-gamma {
    font-size: 1.5rem !important;

    @include media('<line') {
        font-size: 1.25rem !important;
    }
}

.u-delta,
%u-delta {
    font-size: 1.25rem !important;

    @include media('<line') {
        font-size: 1.125rem !important;
    }
}

.u-epsilon,
%u-epsilon {
    font-size: 1.125rem !important;

    @include media('<line') {
        font-size: 1rem !important;
    }
}

.u-milli,
%u-milli {
    font-size: .875rem !important;
}

.u-micro,
%u-micro {
    font-size: .75rem !important;
}

.u-nano,
%u-nano {
    font-size: .5rem !important;
}