/* ==========================================================================
   Sizes
   ========================================================================== */

.u-kilo {
   font-size: 4rem !important;
}

.u-alpha,
%u-alpha {
   font-size: 2.5rem !important;

   @include media('<layout') {
      font-size: micro-scale(15, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(14, rem) !important;
   }
}

.u-beta,
%u-beta {
   font-size: 2rem !important;

   @include media('<layout') {
      font-size: micro-scale(12, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(10, rem) !important;
   }
}

.u-gamma,
%u-gamma {
   font-size: 1.5rem !important;

   @include media('<layout') {
      font-size: micro-scale(8, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(6, rem) !important;
   }
}

.u-delta,
%u-delta {
   font-size: 1.25rem !important;

   @include media('<layout') {
      font-size: micro-scale(4, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(3, rem) !important;
   }
}

.u-epsilon,
%u-epsilon {
   font-size: 1.125rem !important;

   @include media('<layout') {
      font-size: micro-scale(2, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(1, rem) !important;
   }
}

.u-milli {
   font-size: micro-scale(-1, rem) !important;
}

.u-micro {
   font-size: micro-scale(-2, rem) !important;
}

.u-nano {
   font-size: micro-scale(-4, rem) !important;
}

.u-pico {
   font-size: micro-scale(-6, rem) !important;
}
