/* ==========================================================================
   Sizes
   ========================================================================== */

.u-alpha {
   font-size: micro-scale(17, rem) !important;

   @include media('<layout') {
      font-size: micro-scale(15, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(12, rem) !important;
   }
}

.u-beta {
   font-size: micro-scale(12, rem) !important;

   @include media('<layout') {
      font-size: micro-scale(10, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(7, rem) !important;
   }
}

.u-gamma {
   font-size: micro-scale(8, rem) !important;

   @include media('<layout') {
      font-size: micro-scale(6, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(4, rem) !important;
   }
}

.u-delta {
   font-size: micro-scale(5, rem) !important;

   @include media('<layout') {
      font-size: micro-scale(3, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(2, rem) !important;
   }
}

.u-epsilon {
   font-size: micro-scale(3, rem) !important;

   @include media('<layout') {
      font-size: micro-scale(2, rem) !important;
   }

   @include media('<column') {
      font-size: micro-scale(1, rem) !important;
   }
}