/* ==========================================================================
   Icons
   ========================================================================== */

/* Variables
   ========================================================================== */

$icon-gap: .5em;
$icon-size: 1em;


/* Definitions
   ========================================================================== */

.b-icon {
    @include size($icon-size);

    display: inline-block;
    margin-top: 0;
    vertical-align: text-bottom;

    &:first-child {
        margin-right: $icon-gap;
    }

    &:last-child {
        margin-left: $icon-gap;
    }

    &:first-child:last-child {
        margin-left: 0;
        margin-right: 0;
    }
}