/* ==========================================================================
   Tables
   ========================================================================== */

table {
   @include island(2);

   width: 100%;
   word-wrap: break-word;
}

thead {
   border-bottom: 2px solid color(text);

   tr:last-child th {
      padding-bottom: lines(.5, -2px);
   }

   th {
      vertical-align: bottom;
   }
}

tbody {
   tr {
      border-bottom: 1px solid faux-rgba(color(text), color(background), .25);

      &:last-child {
         border-bottom: 0;
      }
   }
}

th,
td {
   padding: lines(.5) .75em;
   padding-bottom: lines(.5, -1px);
   vertical-align: top;
   max-width: 25em;

   p {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   p[aria-expanded] {
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      margin-left: -1em;
      padding-left: 1em;

      &:before {
         @include size(0);

         content: '';
         position: absolute;
         top: lines(.333);
         left: 0;
         border-left: .333em solid transparent;
         border-right: .333em solid transparent;
         border-top: lines(.333) solid faux-rgba(color(text), color(background), .75);
         transition: transform .3s, opacity .2s;
         opacity: .5;
      }

      &:hover:before,
      &:focus:before {
         opacity: 1;
      }

      &:focus:before {
         border-top-color: color(highlight);
      }
   }

   p[aria-expanded="true"] {
      white-space: normal;

      &:before {
         transform: rotateX(180deg);
         opacity: 1;
      }

      &:after {
         display: none;
      }
   }

   &:first-child {
      text-align: left;
   }

   &:last-child {
      text-align: right;
   }
}

th {
   font-weight: 700;
}

td {
   &:last-child {
      font-feature-settings: 'tnum';
   }
}

@include media('<layout') {

   table {
      table-layout: fixed;
   }

   tr {
      > :nth-child(3) {
         width: 40%;
      }

      > :last-child {
         width: 10%;
      }
   }

}

@include media('<column') {

   table,
   tbody {
      display: block;
   }

   thead {
      display: none;
   }

   tr {
      @include no-spacing;

      position: relative;
      display: table;
      width: 100%;
      border-bottom: 0 !important;

      &:after {
         position: absolute;
         left: 0;
         bottom: lines(-.5);
         content: '';
         height: 1px;
         width: 100%;
         background-color: faux-rgba(color(text), color(background), .25);
      }

      &:last-child:after {
         display: none;
      }
   }

   td,
   th {
      display: table-row;
      max-width: none;
      padding: 0;
      text-align: left !important;

      &:before {
         content: attr(data-heading) ':';
         display: table-cell;
         padding-top: lines(.25);
         padding-right: .75em;
         font-weight: 700;
         width: 15%;
         text-align: right;
      }

      &:first-child:before {
         padding-top: 0;
      }
   }

}