/* ==========================================================================
   Colors
   ========================================================================== */

/* Functions
   ========================================================================== */

@function color-luminance($color) {
   $rgba: red($color), green($color), blue($color);
   $rgba2: ();

   @for $i from 1 through 3 {
      $rgb: nth($rgba, $i);
      $rgb: $rgb / 255;
      $rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
      $rgba2: append($rgba2, $rgb);
   }

   @return .2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + .0722 * nth($rgba2, 3);
}

@function color-contrast($color1, $color2) {
   $luminance1: color-luminance($color1) + .05;
   $luminance2: color-luminance($color2) + .05;
   $ratio: $luminance1 / $luminance2;

   @if $luminance2 > $luminance1 {
      $ratio: 1 / $ratio;
   }

   $ratio: round($ratio * 10) / 10;

   @return $ratio;
}

@function color($name) {
   @return map-get($colors, $name);
}

@function brand($name) {
   @return map-get($brand, $name);
}

@function faux-rgba($color, $background, $opacity) {
   @return mix($color, $background, $opacity * 100%);
}

@function shade($color, $amount) {
   @return mix(#000, $color, $amount * 100%);
}

@function tint($color, $amount) {
   @return mix(#fff, $color, $amount * 100%);
}

@function contrasting-color($base, $opacity: 1, $colors...) {
   @if length($colors) == 0 {
      $colors: (color(background), color(text));
   }

   $contrast: 0;
   $best-color: null;

   @each $color in $colors {

      @if length($opacity < 1) {
         $color: faux-rgba($color, $base, $opacity);
      }

      $current-contrast: color-contrast($base, $color);

      @if ($current-contrast >= $contrast) {
         $contrast: $current-contrast;
         $best-color: $color;
      }
   }

   @if ($contrast < 4.5) {
      @warn "Contrast ratio of #{$contrast} for #{$best-color} on #{$base} does not meet WCAG AA.";
   }

   @return $best-color;
}


/* Variables
   ========================================================================== */

$brand: (
   primary: #30a9d4,
   secondary: #ff7a04
);

$colors: (
   background: #fff,
   text: #393939,
   light-text: #999,
   shade: #f0f0f0,
   highlight: #cdb586
);
