/* ==========================================================================
   Configuration
   ========================================================================== */

/* Typography
   ========================================================================== */

$BASE: 1;
$LINE_HEIGHT: micro-scale(8);
$LINE_LENGTH: 38em;


/* Layout
   ========================================================================== */

$GUTTER: 2%;
$LAYOUT_WIDTH: $LINE_LENGTH + ($LINE_LENGTH * macro-scale(-1));