/* ==========================================================================
   Helpers
   ========================================================================== */

@function em-to-px($value) {
   @return round($BASE * 16px * ($value / ($value * 0 + 1)));
}

@mixin size($width, $height: $width) {
   width: $width;
   height: $height;
}

@mixin center {
   margin-left: auto;
   margin-right: auto;
}

@mixin gtIE8 {
   @media only screen {
      @content;
   }
}

@mixin lteIE8 {
   @media \0screen\,screen\9 {
      @content;
   }
}

@mixin hide {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   overflow: hidden !important;
   clip: rect(0 0 0 0) !important;
   margin: -1px !important;
}

@mixin clearfix {
   &:after {
      content: '';
      display: table;
      clear: both;
   }
}

@function scale-to-percentage($item-interval, $configuration, $gap: $GUTTER) {
   $total: 0;
   @each $interval in $configuration {
      $total: $total + macro-scale($interval);
   }
   @return (macro-scale($item-interval) / $total) * 100% - ($gap * (length($configuration) - 1) / length($configuration));
}

.u-center {
   text-align: center !important;
}

