/* ==========================================================================
   Icons
   ========================================================================== */

/* Variables
   ========================================================================== */

$ICON_GAP: .5em;
$ICON_SIZE: $LINE_HEIGHT * 1em;


/* Mixins
   ========================================================================== */

@mixin icon-size($new-size) {
   .icon, .j-icon-placeholder {
      @include size($new-size);
   }

   .no-svg & .icon:first-child {
      margin-right: -($new-size);
   }
}


/* Classes
   ========================================================================== */

.icon,
.j-icon-placeholder {
   @include size($ICON_SIZE);
   display: inline-block;
   margin-top: 0;
   vertical-align: top;
}

.icon {
   fill: currentColor;

   &:first-child {
      margin-right: $ICON_GAP;
   }

   &:last-child {
      margin-left: $ICON_GAP;
   }

   &:first-child:last-child {
      margin: 0;
   }

   .no-svg & {
      margin-left: $ICON_GAP;

      &:first-child {
         margin-left: 0;
         margin-right: -($ICON_SIZE);

         ~ span {
            margin-left: $ICON_GAP;
         }
      }
   }
}