/* ==========================================================================
   Typography
   ========================================================================== */

/* Variables
   ========================================================================== */

$fonts: (
   body: ('Source Sans Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Arial, sans-serif),
   display: (Bariol, 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif)
);

/* Helpers
   ========================================================================== */

// Retrieve a font stack, either of the body or display variety.
@function font($name) {
   @return map-get($fonts, $name);
}

// Returns a multiple of the leading. Used to create any sort of vertical spacing.
@function lines($count: 1, $correction: null) {
   @if $count == 0 {
      @return 0;
   } @else if $correction == null  {
      @return $count * const(LINE_HEIGHT) * 1rem;
   } @else {
      @return calc(#{$count * const(LINE_HEIGHT) * 1rem} + #{$correction});
   }
}

// Create a pretty underline.
@mixin underline($weight: 1px, $background: color(background), $color: color(highlight), $hover: color(text), $position: 90%) {
   display: inline-block;
   text-decoration: none;
   background: linear-gradient($color, $color) no-repeat;
   background-size: 100% $weight;
   background-position: 0 $position;
   text-shadow: $weight 0 $background,
                -$weight 0 $background,
                ($weight / 2) 0 $background,
                -($weight / 2) 0 $background;

   &:focus,
   &:hover {
      background-image: linear-gradient($hover, $hover);
   }
}


/* Flow control
   ========================================================================== */

// Default content vertical spacing.
body * + * {
   margin-top: lines(1);
}

// Alter the default vertical spacing.
@mixin v-spacing($lines, $fixed: false, $propagate: false) {
   $selector: '* + *';

   @if not $propagate {
      $selector: selector_nest('>', $selector);
   }

   #{$selector} {
      margin-top: lines($lines);
   }
}

// Spread items horizontally.
@mixin h-spacing($distance, $fixed: false) {
   > * {
      margin-right: $distance;

      &:last-child {
         margin-right: 0;
      }

      @if not $fixed {
         @include media('<column') {
            margin-right: $distance / 2;
         }
      }
   }
}

// Removes the horizontal spacing.
@mixin no-spacing($propagate: false) {
   $selector: '*';

   @if not $propagate {
      $selector: selector_nest('>', $selector);
   }

   #{$selector} {
      margin-top: 0;
      margin-bottom: 0;
   }
}

@mixin out-of-flow {
   margin-top: 0;

   &:first-child + * {
      margin-top: 0 !important;
   }
}

// Somebody is an island.
@mixin island($leading: 1, $trailing: $leading, $fixed: false) {

   @if $leading > 0 {
      margin-top: lines($leading);

      &:first-child {
         margin-top: 0;
      }
   }

   @if $trailing > 0 {
      margin-bottom: lines($trailing);

      &:last-child {
         margin-bottom: 0;
      }
   }
}

@mixin aloof($distance, $fixed: false) {
   @include island($distance, 0, $fixed);
}


/* Base
   ========================================================================== */

html {
   color: color(text);
   font-family: font(body);
   font-size: const(BASE) * 1em;
   line-height: const(LINE_HEIGHT);
   font-weight: 400;

   @include media('<column') {
      font-size: const(BASE) * 1em * micro-scale(-1);
   }
}

body {
   @include no-spacing;

   background: color(background);
}

a {
   color: shade(color(highlight), .2);
   text-decoration: underline;
   transition: color .2s;

   &:focus,
   &:hover {
      color: color(highlight);
   }
}

em {
   color: color(highlight);
}

strong {
   font-weight: 600;
}

small {
   font-size: micro-scale(-2) * 1em;
}
