/* ==========================================================================
   Carousel
   ========================================================================== */

@keyframes spinner {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.c-carousel {
    @include v-spacing(.5);

    position: relative;
    display: flex;
    flex-direction: column;
}

    .c-carousel__list {
        @include no-spacing;

        position: relative;
        flex: 1;
    }

        .c-carousel__slide {
            @include size(100%);

            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            z-index: 1;
            padding: 0 4em;
            display: flex;
            align-items: center;
            justify-content: center;

            &.is-active {
                opacity: 1;
                z-index: 2;
            }

            &.is-loading {

                &:after {
                    @include size(50px);

                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: color(text);
                    animation: spinner 1.2s infinite ease-in-out;
                }
            }
        }

            .c-carousel__image {
                height: 100%;
                object-fit: scale-down;
                flex: none;
            }

    .c-carousel__label {
        text-align: center;
    }

    .c-carousel__controls {
        @include out-of-flow;

        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        transition: color .2s;

        &[rel="prev"] {
            left: 0;
            transform: translateY(-50%) scaleX(-1);
        }

        &[rel="next"] {
            right: 0;
        }

        &:hover {
            color: color(highlight);
        }
    }

    .c-carousel__indicator {
        @include aloof(1);

        display: block;
        transform: translateZ(0);
    }