/* ==========================================================================
   Button
   ========================================================================== */

button,
%button {
   display: block;
   background: silver;
   padding: lines(.5) .75em;
   text-decoration: none;
   cursor: pointer;
   transition: background-color .2s;

   @include active {
      background-color: cyan;

      > .icon {
         fill: yellow;
      }
   }

   .no-svg & {
      white-space: nowrap;
   }
}