/* ==========================================================================
   Article preview
   ========================================================================== */

.c-article-preview {
   padding: lines(1);
   background-color: #eee;
   border: 1px solid rgba(black, .125);
   border-radius: .25em;
}