/* ==========================================================================
   Bullet list
   ========================================================================== */

.c-bullet-list {
   @extend %o-block-list;
   $taper: 1.25em;
   $size: const(LINE_HEIGHT) * .33em;

   > li {
      padding-left: $taper;

      &:before {
         @include size($size);

         content: '';
         float: left;
         margin-top: (const(LINE_HEIGHT) / 2) - ($size / 2);
         margin-left: -$taper;
         background: color(text);
         transform: rotate(45deg);
      }
   }
}