/* ==========================================================================
   Button
   ========================================================================== */

// @mixin animate-outline($default-transition: none) {
//    outline: 1px solid transparent;
//    outline-offset: 20em;

//    &:focus {
//       outline-color: rgba(black, .25);
//       outline-offset: 0;
//       outline-width: 0;
//       transition: $default-transition,
//                   outline-offset .5s,
//                   outline-color .5s,
//                   outline-width .001s .5s;
//    }

//    &:active,
//    &[aria-pressed="true"] {
//       transition: $default-transition;
//    }
// }

@mixin make-button($background-color) {
   background: $background-color;
   border: 1px solid faux-rgba(black, $background-color, .15);
   border-right-color: faux-rgba(black, $background-color, .3);
   border-bottom-color: faux-rgba(black, $background-color, .5);
   color: contrasting-color($background-color, .8);
   box-shadow: 0 .1em 0 0 faux-rgba(black, $background-color, .5);

   &:hover,
   &:focus {
      background-color: tint($background-color, .25);
   }

   &:active,
   &[aria-pressed="true"] {
      border-color: faux-rgba(black, $background-color, .5);
      background-color: shade($background-color, .1);
      box-shadow: inset 0 .05em 0 0 faux-rgba(black, $background-color, .25);
   }
}

.c-button {
   @include make-button(color(highlight));

   display: block;
   padding: lines(.25) 1em;
   line-height: $LINE-HEIGHT;
   text-decoration: none;
   cursor: pointer;
   user-select: none;
   white-space: nowrap;
   transform: translateY(-.1em);
   transition: background-color .1s;

   &:active,
   &[aria-pressed="true"] {
      transform: none;
   }

   &--alt {
      @include make-button(brand(secondary));
   }
}