/* ==========================================================================
   Heading
   ========================================================================== */

.c-heading {
   @include icon-size(1em);

   line-height: 1;
   font-size: micro-scale(8, rem);
   font-family: font(display);
   font-feature-settings: 'liga', 'kern', 'swsh', 'calt';
   font-weight: 400;
}