/* ==========================================================================
   Site navigation
   ========================================================================== */

.c-site-nav {

}

    .c-site-nav__list {
        @extend %o-inline-list;
    }

        .c-site-nav__item {

        }

            .c-site-nav__link {
                display: block;
            }
