/* ==========================================================================
   Media
   ========================================================================== */

.media {
   @extend %clear;
   @include aloof;

   display: flex;
   align-items: flex-start;

   &__figure {
      flex: 1;
      margin-top: lines(.25);
      margin-right: taper(1);

      > img {
         width: 100%;
      }
   }

   &__content {
      flex: macro-scale(1);
   }

   @include media-query(lap) {
      display: block;

      &__figure {
         float: left;
         width: scale-to-percentage(0, 0 1) !important;
      }
   }

   @include media-query(palm) {
      display: block;

      &__figure {
         float: none !important;
         width: 100% !important;
         margin: 0 0 lines(.5);
      }
   }

   @include no-flex {
      &__figure {
         float: left;
         width: scale-to-percentage(0, 0 1);
      }

      &__content {
         overflow: hidden;
      }
   }
}