/* ==========================================================================
   Block list
   ========================================================================== */

.o-block-list,
%o-block-list {
   @include v-spacing(.25);

   > * {
      display: block;
   }
}
