/* ==========================================================================
   Grid
   ========================================================================== */

/* Mixins
   ========================================================================== */

@mixin grid($basis: 30em, $hgap: 2em, $vgap: lines(2)) {
    @include no-spacing;

    display: flex;
    flex-wrap: wrap;
    margin-left: -$hgap;
    justify-content: flex-start;

    > * {
        flex: 1 0 $basis;
        margin-left: $hgap;
        margin-bottom: $vgap;
    }

    .no-flexwrap & {
        display: block;
    }
}


/* Definitions
   ========================================================================== */

.o-grid {
    @include grid;
}
