/* ==========================================================================
   Grid
   ========================================================================== */

/* Settings
   ========================================================================== */

$GRID_COLUMNS: (
   '>=layout': 3,
   '<layout': 2,
   '<column': 1
);
$GRID_HGAP: $GUTTER;
$GRID_VGAP: lines(1);


/* Classes
   ========================================================================== */

.o-grid, %o-grid {
   @include island($GRID_VGAP / lines(1) * 2, $GRID_VGAP / lines(1) * 1);

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: -$GRID_HGAP;

   &__item {
      margin: 0 0 $GRID_VGAP $GRID_HGAP !important;

      @each $breakpoint, $columns in $GRID_COLUMNS {
         $width: (100% / $columns) - $GRID_HGAP;

         @if $breakpoint == $MEDIA_STATIC_BREAKPOINT {
            width: $width;
         } @else {
            @include media($breakpoint) {
               width: $width;
            }
         }

      }
   }

   .no-flexbox & {
      display: block;
      letter-spacing: -0.31em;
      text-align: center;

      &__item {
         display: inline-block;
         letter-spacing: normal;
         vertical-align: top;
         text-align: left;
      }
   }
}

@mixin grid($items-per-row: $GRID_COLUMNS, $hgap: $GRID_HGAP, $vgap: $GRID_VGAP) {
   @extend %o-grid;

   $items-per-row: map-merge($GRID_COLUMNS, $items-per-row);
   $ie8-friendly: true;

   @if ($hgap != 0) and (unit($hgap) != "%") {
      $ie8-friendly: false;
   }

   @if $hgap != $GRID_HGAP {
      @if $ie8-friendly {
         margin-left: -$hgap;
         > * {
            margin-left: $hgap !important;
         }
      } @else {
         @include gtIE8 {
            margin-left: -$hgap;
            > * {
               margin-left: $hgap !important;
            }
         }
      }
   }

   > * {
      @extend %o-grid__item;

      @if $vgap != $GRID_VGAP {
         margin-bottom: $vgap !important;
      }

      $is-default: ($GRID_COLUMNS == $items-per-row) and ($hgap == $GRID_HGAP);

      @each $breakpoint, $columns in $items-per-row {

         @if not $is-default {
            $width: if($ie8-friendly, (100% / $columns) - $hgap, calc(#{(100% / $columns)} - #{$hgap}));

            @if $breakpoint == $MEDIA_STATIC_BREAKPOINT {

               @if $ie8-friendly {
                  width: $width;
               } @else {
                  width: (100% / $columns) - $GRID_HGAP;
                  width: $width;
               }

            } @else {
               @include media($breakpoint) {
                  width: $width;
               }
            }

         }

      }

   }

}