/* ==========================================================================
   Inline list
   ========================================================================== */

.o-inline-list,
%o-inline-list {
   @include no-spacing;
   @include h-spacing(1em);

   letter-spacing: -.31em;
   margin-bottom: lines(-.25);

   > * {
      display: inline-block;
      letter-spacing: normal;
      margin-bottom: lines(.25);
      vertical-align: middle;
   }

   &--spread {
      display: flex;
      justify-content: space-between;
   }
}
