/* ==========================================================================
   Inline list
   ========================================================================== */

.o-inline-list, %o-inline-list {
   @include no-spacing;
   @include h-spacing(1em);

   margin-bottom: lines(-.25);
   letter-spacing: -0.31em;

   > li {
      display: inline-block;
      margin-bottom: lines(.25);
      vertical-align: middle;
      letter-spacing: normal;
   }

   &--spread {
      display: flex;
      justify-content: space-between;
   }
}