/* ==========================================================================
   Inline list
   ========================================================================== */

.o-inline-list,
%o-inline-list {
    @include no-spacing;
    @include h-spacing(1rem);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: lines(-.25);

    > * {
        margin-bottom: lines(.25);
    }

    .no-flexwrap & {
        display: block;

        > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--loose {
        @include h-spacing(2rem);
    }

    &--spread {
        justify-content: space-between;
    }
}
