/* ==========================================================================
   Layout
   ========================================================================== */

.o-layout, %o-layout {
   @include clearfix;
   @include no-spacing;

   &__item {
      float: left;
      width: scale-to-percentage(1, 0 1);

      &:first-child {
         width: scale-to-percentage(0, 0 1);
         margin-right: $GUTTER;
      }
   }

      &--equal &__item {
         width: 50% - ($GUTTER / 2);
      }

   @include media('<column') {
      @include v-spacing(1);

      &__item {
         float: none;
         width: auto !important;
         margin-right: 0 !important;
      }

   }
}