/* ==========================================================================
   Spot
   ========================================================================== */

.o-spot {
   @include clearfix;
   @include no-spacing;
   @include island(2);

   @include media('<column') {
      @include v-spacing(1);
   }
}

   .o-spot__media {
      float: left;
      margin-right: const(GUTTER);
      margin-top: .2em;
      width: scale-to-percentage(0, 0 1);

      @include media('<column') {
         float: none;
         margin-right: 0;
         margin-top: 0;
         width: auto;
      }

      * {
         width: 100%;
      }
   }

   .o-spot__body {
      @include v-spacing(.5);

      overflow: hidden;

      @include media('<layout') {
         overflow: visible;
      }
   }
