/* ==========================================================================
   Spot
   ========================================================================== */

.o-spot, %o-spot {
   @include clearfix;
   @include no-spacing;
   @include island(2);

   &__media {
      float: left;
      width: scale-to-percentage(0, 0 1);
      margin-top: .2em;
      margin-right: $GUTTER;

      * {
         width: 100%;
      }
   }

   &__body {
      @include v-spacing(.5);

      overflow: hidden;
   }

   @include media('<layout') {
      &__body {
         overflow: visible;
      }
   }

   @include media('<column') {
      @include v-spacing(1);

      &__media {
         float: none;
         width: auto;
         margin-top: 0;
         margin-right: 0;
      }

   }
}