/* ==========================================================================
   Wrapper
   ========================================================================== */

.o-wrapper {
    @include center;
    @include clearfix;

    max-width: const(LAYOUT_WIDTH);
    padding: 0 const(GUTTER);

    @include media('<layout') {
        padding: 0 const(GUTTER) * 2;
    }

    &--full {
        padding: 0;
    }
}
