/* ==========================================================================
   Wrapper
   ========================================================================== */

.o-wrapper {
    @include center;
    @include clearfix;

    max-width: const(LAYOUT_WIDTH);
    padding: 0 2vw;

    @include media('<layout') {
        padding: 0 4vw;
    }

    &--full {
        padding: 0;
    }
}
