/* ==========================================================================
   Site navigation
   ========================================================================== */

.c-site-nav {
   text-align: center;
   background-color: brand(secondary);

   ul {
      @include h-spacing(0);
   }

   a {
      display: block;
      padding: lines(.5) 1em;
      border-left: 1px solid rgba(black, .125);
      text-decoration: none;
      color: color(text);
      text-transform: uppercase;
   }
}